# Springboard Data Science Career Track Unit 4 Challenge - Tier 3 Complete

## Objectives
Hey! Great job getting through those challenging DataCamp courses. You're learning a lot in a short span of time. 

In this notebook, you're going to apply the skills you've been learning, bridging the gap between the controlled environment of DataCamp and the *slightly* messier work that data scientists do with actual datasets!

Here’s the mystery we’re going to solve: ***which boroughs of London have seen the greatest increase in housing prices, on average, over the last two decades?***


A borough is just a fancy word for district. You may be familiar with the five boroughs of New York… well, there are 32 boroughs within Greater London [(here's some info for the curious)](https://en.wikipedia.org/wiki/London_boroughs). Some of them are more desirable areas to live in, and the data will reflect that with a greater rise in housing prices.

***This is the Tier 3 notebook, which means it's not filled in at all: we'll just give you the skeleton of a project, the brief and the data. It's up to you to play around with it and see what you can find out! Good luck! If you struggle, feel free to look at easier tiers for help; but try to dip in and out of them, as the more independent work you do, the better it is for your learning!***

This challenge will make use of only what you learned in the following DataCamp courses: 
- Prework courses (Introduction to Python for Data Science, Intermediate Python for Data Science)
- Data Types for Data Science
- Python Data Science Toolbox (Part One) 
- pandas Foundations
- Manipulating DataFrames with pandas
- Merging DataFrames with pandas

Of the tools, techniques and concepts in the above DataCamp courses, this challenge should require the application of the following: 
- **pandas**
    - **data ingestion and inspection** (pandas Foundations, Module One) 
    - **exploratory data analysis** (pandas Foundations, Module Two)
    - **tidying and cleaning** (Manipulating DataFrames with pandas, Module Three) 
    - **transforming DataFrames** (Manipulating DataFrames with pandas, Module One)
    - **subsetting DataFrames with lists** (Manipulating DataFrames with pandas, Module One) 
    - **filtering DataFrames** (Manipulating DataFrames with pandas, Module One) 
    - **grouping data** (Manipulating DataFrames with pandas, Module Four) 
    - **melting data** (Manipulating DataFrames with pandas, Module Three) 
    - **advanced indexing** (Manipulating DataFrames with pandas, Module Four) 
- **matplotlib** (Intermediate Python for Data Science, Module One)
- **fundamental data types** (Data Types for Data Science, Module One) 
- **dictionaries** (Intermediate Python for Data Science, Module Two)
- **handling dates and times** (Data Types for Data Science, Module Four)
- **function definition** (Python Data Science Toolbox - Part One, Module One)
- **default arguments, variable length, and scope** (Python Data Science Toolbox - Part One, Module Two) 
- **lambda functions and error handling** (Python Data Science Toolbox - Part One, Module Four)

## The Data Science Pipeline

This is Tier Three, so we'll get you started. But after that, it's all in your hands! When you feel done with your investigations, look back over what you've accomplished, and prepare a quick presentation of your findings for the next mentor meeting. 

Data Science is magical. In this case study, you'll get to apply some complex machine learning algorithms. But as  [David Spiegelhalter](https://www.youtube.com/watch?v=oUs1uvsz0Ok) reminds us, there is no substitute for simply **taking a really, really good look at the data.** Sometimes, this is all we need to answer our question.

Data Science projects generally adhere to the four stages of Data Science Pipeline:
1. Sourcing and loading 
2. Cleaning, transforming, and visualizing 
3. Modeling 
4. Evaluating and concluding

### 1. Sourcing and Loading 

Any Data Science project kicks off by importing  ***pandas***. The documentation of this wonderful library can be found [here](https://pandas.pydata.org/). As you've seen, pandas is conveniently connected to the [Numpy](http://www.numpy.org/) and [Matplotlib](https://matplotlib.org/) libraries. 

***Hint:*** This part of the data science pipeline will test those skills you acquired in the pandas Foundations course, Module One.

#### 1.1. Importing Libraries

In [ ]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

#### 1.2.  Loading the data
Your data comes from the [London Datastore](https://data.london.gov.uk/): a free, open-source data-sharing portal for London-oriented datasets.

In [ ]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

### 2. Cleaning, transforming, and visualizing
This second stage is arguably the most important part of any Data Science project. The first thing to do is take a proper look at the data. Cleaning forms the majority of this stage, and can be done both before or after Transformation.

The end goal of data cleaning is to have tidy data. When data is tidy: 

1. Each variable has a column.
2. Each observation forms a row.

Keep the end goal in mind as you move through this process, every step will take you closer. 



***Hint:*** This part of the data science pipeline should test those skills you acquired in: 
- Intermediate Python for data science, all modules.
- pandas Foundations, all modules. 
- Manipulating DataFrames with pandas, all modules.
- Data Types for Data Science, Module Four.
- Python Data Science Toolbox - Part One, all modules

**2.1. Exploring your data** 

Think about your pandas functions for checking out a dataframe.

In [ ]:
properties.head()

In [ ]:
properties.shape

In [ ]:
properties.describe()

In [ ]:
properties.info()

In [ ]:
properties.dtypes

**2.2. Cleaning the data**

You might find you need to transpose your dataframe, check out what its row indexes are, and reset the index. You  also might find you need to assign the values of the first row to your column headings  . (Hint: recall the .columns feature of DataFrames, as well as the iloc[] method).

Don't be afraid to use StackOverflow for help  with this.

In [ ]:
properties_T = properties.T
properties_T.head()

In [ ]:
properties_T.shape

In [ ]:
properties_T.index

In [ ]:
properties_T_no_null = properties_T.dropna()
properties_T_no_null

In [ ]:
properties_T_no_null.index

In [ ]:
properties_T_no_null.columns
#properties_2 = properties_T_no_null.drop(columns = ['NaT'], axis=1)
#properties_2
#properties_T.reset_index()
#properties_T.columns

In [ ]:
properties_T_no_null.head()

In [ ]:
properties_T_no_null['NaT']

In [ ]:
properties_T_no_null

In [ ]:
del properties_T_no_null['NaT']

In [ ]:
properties_T_no_null.head()

In [ ]:
properties2 = properties_T_no_null.T
properties2.head()

In [ ]:
columns_list = properties2.columns.tolist()
columns_list

In [ ]:
# Calculate the average rent per month
properties3 = (properties2.loc[:, columns_list].resample('A').sum())/12
properties3.head()

In [ ]:
# Round the rent to integer  
properties3 = properties3.astype(int)
properties3.head()
#pd.options.display.float_format = '{:, .2f}' .format
#properties_T_no_null_T.pivot(index = 'Date', columns = 'Borough')

In [ ]:
#import datetime
#yearonly = properties3.index.year
#yearonly

In [ ]:
#properties3.reindex(yearonly)

In [ ]:
properties3.index = properties3.index.map(lambda t: t.year)
properties3.head()

**2.3. Cleaning the data (part 2)**

You might we have to **rename** a couple columns. How do you do this? The clue's pretty bold...

In [ ]:
properties3.index.name = 'Year'
properties3.head()

In [ ]:
properties3.columns

In [ ]:
properties4 = properties3.reset_index()
properties4.head()

In [ ]:
properties4_columns = properties4.columns
properties4_columns # Here you can see the index 'Year' has been added to the columns.

**2.4.Transforming the data**

Remember what Wes McKinney said about tidy data? 

You might need to **melt** your DataFrame here.

In [ ]:
properties4_melt = properties4.melt(id_vars=['Year'], value_vars = properties4_columns[1:])
properties4_melt

Remember to make sure your column data types are all correct. Average prices, for example, should be floating point numbers...

In [ ]:
# checking the datatypes of each cloumns
properties4_melt.dtypes

**2.5. Cleaning the data (part 3)**

Do we have an equal number of observations in the ID, Average Price, Month, and London Borough columns? Remember that there are only 32 London Boroughs. How many entries do you have in that column? 

Check out the contents of the London Borough column, and if you find null values, get rid of them however you see fit.

In [ ]:
properties4.shape

In [ ]:
# List of all the borough names from Wikipedia 
Greater_London_32_boroughs = ['Barking and Dagenham', 'Barnet', 'Bexley', 'Brent', 'Bromley', 'Camden', 'Croydon',
                              'Ealing', 'Enfield', 'Greenwich', 'Hackney', 'Hammersmith and Fulham', 'Haringey',
                             'Harrow', 'Havering', 'Hillingdon', 'Hounslow', 'Islington', 'Kensington and Chelsea',
                             'Kingston upon Thames', 'Lambeth', 'Lewisham', 'Merton', 'Newham', 'Redbridge', 
                              'Richmond upon Thames', 'Southwark', 'Sutton', 'Tower Hamlets', 'Waltham Forest',
                             'Wandsworth', 'Westminster']
len(set(Greater_London_32_boroughs))

In [ ]:
print(sorted(Greater_London_32_boroughs))

In [ ]:
# List of columns names from properties4 dataframe.
properties4.columns

In [ ]:
len(properties4.columns[1:])

In [ ]:
# Note: some of the column names in the properties4 dataframe are not in the Greater_London_32_borough list

In [ ]:
#borough_table = pd.DataFrame({'boroughs': Greater_London_32_boroughs, 'borough_columns':properties4.columns[1:]})
#borough_table
# This gives error as the number of elements in two columns are different

In [ ]:
# Let us list which are not present in Greater_London_32_borough list
list1 = []
for element in properties4.columns[1:]:
    if element not in Greater_London_32_boroughs:
        list1.append(element)
print(list1)
print('\n\n',len(list1))

In [ ]:
# Rename the columns, also include inplace = True
properties4.rename(columns = {'Barking & Dagenham':'Barking and Dagenham', 'Hammersmith & Fulham': 'Hammersmith and Fulham', 'Kensington & Chelsea': 'Kensington and Chelsea'}, inplace = True)
properties4.head()

In [ ]:
# Note: Though some columns does not represent a borough, 3 boroughs (1. Barking & Dagenham, 2.Hammersmith & Fulham', 
# 3. Kensington & Chelsea) have been listed  differently. The "and" within the name has been written as "&". 
# So we need to change that.

In [ ]:
print(properties4.columns[1:]) # New column names
print("\n\n", len(properties4.columns[1:])) # Number of column names

In [ ]:
# There are 32 boroughs in Greater London and in the dataframe there are 45 borough columns, we have to check 
# which columns are not real boroughs within Greater London and how many are there in total. 
list2 = []
for element in properties4.columns[1:]:
    if element not in Greater_London_32_boroughs:
        list2.append(element)
print(list2) # Does not belong as borough in Greater London
len(list2)   # Total number column names not borough

In [ ]:
# In the previous shell we listed all the columns which are not boroughs within Greater London. 
# Let us delete those rows before we do the analysis 
for element in properties4.columns[1:]:
    if element not in Greater_London_32_boroughs:
        del properties4[element]
properties4.head()
# See the number of borough columns in the properties dataframe  
print(len(properties4.columns[1:]))
print(properties4.shape)

In [ ]:
properties4.set_index(properties4['Year'], inplace = True)
properties4.head()

In [ ]:
del properties4['Year']
properties4.head()

In [ ]:
properties4.shape

In [ ]:
properties4.describe()

In [ ]:
properties4.info()

In [ ]:
properties4.dtypes

**2.6. Visualizing the data**

To visualize the data, why not subset on a particular London Borough? Maybe do a line plot of Month against Average Price?

In [ ]:
import matplotlib.pyplot as plt
properties4.plot(figsize = (8, 8), rot = 60)
plt.legend(loc = 'upper center')

In [ ]:
# calculate the difference of the cosecutive year avg. price difference and save in properties5 dataframe
properties_price_difference_consecutive_years = properties4.diff()
properties_price_difference_consecutive_years.head()

In [ ]:
# As 1st row(1995) contains only the NaN value, it needed to be dropped for plotting and saved the whole dataframe in a properties6 
properties_price_difference_consecutive_years2 = properties_price_difference_consecutive_years.drop(1995, axis = 0 )
properties_price_difference_consecutive_years2.head()

In [ ]:
# The price difference for all 32 boroughs are plotted against years 
properties_price_difference_consecutive_years2.plot(figsize = (10, 10))
plt.legend(loc = 'lower left')

In [ ]:
 # Find out county name with maximum average price change between consecutive years
def find_max(data):
    list_column_max_and_column_name = [] # Make a list of tuple, where each tuple consists of "column_name" and "max value in that column"
    list_of_max_each_column = []
    for col in data.columns: 
        list_column_max_and_column_name.append((col, data[col].max()))
        list_of_max_each_column.append(data[col].max()) 
    
    max_overall = max(list_of_max_each_column)
    
    for i in range(len(list_column_max_and_column_name)):
        column_name, column_max_value = list_column_max_and_column_name[i]
        if column_max_value != max_overall:
            continue
            
        return column_name, column_max_value, list_column_max_and_column_name, max_overall
    
    
print(find_max(properties_price_difference_consecutive_years2)[0],'borough has maximum avg monthly price change of', find_max(properties_price_difference_consecutive_years2)[1], 'euros')
print('\n\n', pd.Series(find_max(properties_price_difference_consecutive_years2)[2]))
print('\n\n', "Max price flactuation", find_max(properties_price_difference_consecutive_years2)[3])

In [ ]:
# Function to calculate avg. price range (max-min) through all these years
def find_max_range(data):
    list_with_range_and_column = []                         # Make list of column name and range for each column
    list_of_ranges = []                                     # Make list of ranges 
    for col in data.columns:
        range_each_column = max(data[col]) - min(data[col]) # calculate the range for each column
        list_with_range_and_column.append((col, range_each_column))
        list_of_ranges.append(range_each_column)
    maximum_range = max(list_of_ranges)                     # Find the maximum range 
    for i in range(len(list_with_range_and_column)):
        column_name1, column_max_value1 = list_with_range_and_column[i] # Unzip the tuple within list
        if column_max_value1 != maximum_range:
            continue
        return column_name1, column_max_value1, list_with_range_and_column
print('Maximum price range', find_max_range(properties4)[:2])
print('Maximum price change range', find_max_range(properties_price_difference_consecutive_years2)[:2])
print('\n\n', 'List of column names and price range', pd.Series(find_max_range(properties4)[2]))

In [ ]:
print('\n\n', 'This borough has maximum average price: ', find_max(properties4)[:2])

In [ ]:
# Find the year Kensington and Chelsa borough had maximum average price.
print('In the year of', properties4[properties4['Kensington and Chelsea'] == 1363880].index.values[0], 'Kensington and Chelsa borough had maximum avg. house price.')

To limit the number of data points you have, you might want to extract the year from every month value your *Month* column. 

To this end, you *could* apply a ***lambda function***. Your logic could work as follows:
1. look through the `Month` column
2. extract the year from each individual value in that column 
3. store that corresponding year as separate column. 

Whether you go ahead with this is up to you. Just so long as you answer our initial brief: which boroughs of London have seen the greatest house price increase, on average, over the past two decades?

In [ ]:
# Extracting year from date column has been done in the beginning of the program.

**3. Modeling**

Consider creating a function that will calculate a ratio of house prices, comparing the price of a house in 2018 to the price in 1998.

Consider calling this function create_price_ratio.

You'd want this function to:
1. Take a filter of dfg, specifically where this filter constrains the London_Borough, as an argument. For example, one admissible argument should be: dfg[dfg['London_Borough']=='Camden'].
2. Get the Average Price for that Borough, for the years 1998 and 2018.
4. Calculate the ratio of the Average Price for 1998 divided by the Average Price for 2018.
5. Return that ratio.

Once you've written this function, you ultimately want to use it to iterate through all the unique London_Boroughs and work out the ratio capturing the difference of house prices between 1998 and 2018.

Bear in mind: you don't have to write a function like this if you don't want to. If you can solve the brief otherwise, then great! 

***Hint***: This section should test the skills you acquired in:
- Python Data Science Toolbox - Part One, all modules

In [ ]:
def create_price_ratio(year_lower, year_upper, dfg, borough):
    for London_Borough in dfg.columns:
        if London_Borough != borough:
            continue
        return dfg.loc[year_lower, borough]/dfg.loc[year_upper, borough], dfg.loc[year_lower, borough], dfg.loc[year_upper, borough]
        
print('Camden borough has the average price ratio between 1998 and 2018: ', create_price_ratio(1998, 2018, properties4, 'Camden')[0])        
print('\nCamden borough had average price in 1998: ', create_price_ratio(1998, 2018, properties4, 'Camden')[1], 'euro')
print('\nCamden borough had average price in 2018: ', create_price_ratio(1998, 2018, properties4, 'Camden')[2], 'euro')

In [ ]:
# Make a table of year, borough which has maximum average price and how much for every year 
for year1 in properties4.index:
    x = pd.Series(properties4.loc[year1, :])
    maximum_avg_price = x.max()
    print(year1, x.idxmax(),  maximum_avg_price)

In [ ]:
# Make a table of year, borough which has second maximum average price and how much for every year 
properties_without_Kensington_and_Chelsa = properties4.drop(['Kensington and Chelsea'], axis = 1)
for year1 in properties_without_Kensington_and_Chelsa.index:
    y = pd.Series(properties_without_Kensington_and_Chelsa.loc[year1, :])
    maximum_avg_price = y.max()
    print(year1, y.idxmax(),  maximum_avg_price)

In [ ]:
# Make a table of year, borough which has third maximum average price and how much for every year 
properties_without_KensingtonAndChelsa_and_Westminster = properties4.drop(['Kensington and Chelsea', 'Westminster'], axis = 1)
for year1 in properties_without_KensingtonAndChelsa_and_Westminster.index:
    z = pd.Series(properties_without_KensingtonAndChelsa_and_Westminster.loc[year1, :])
    maximum_avg_price = z.max()
    print(year1, z.idxmax(),  maximum_avg_price)

In [ ]:
# Throughout all these years 1995-2020, Kensington and Chelsea has been the most expensive borough, 
# Westminster the 2nd most expensive whereas "Hammersmith and Fulham" and "Camden" were the 3rd expensive boroughs.

### 4. Conclusion
What can you conclude? Type out your conclusion below. 

Look back at your notebook. Think about how you might summarize what you have done, and prepare a quick presentation on it to your mentor at your next meeting. 

We hope you enjoyed this practical project. It should have consolidated your data hygiene and pandas skills by looking at a real-world problem involving just the kind of dataset you might encounter as a budding data scientist. Congratulations, and looking forward to seeing you at the next step in the course!

### From the analysis of the provided dataset, it can be concluded that 'Kensington and Chelsea' borough was the most expensive borough in those years 1995-2020. The maximum price change between two consecutive year is 132730.0 euros. The range of change (avg) is 278091.0 euros.